*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart_main {
    margin-top: 50px;
    margin-bottom: 30px;

    .container-fluid {
        max-width: 1610px;

        .row {
            .main_top {
                h1 {
                    margin-bottom: 10px;
                    font-size: 48px;
                }

                .text_body {
                    color: $input-gray;
                    font-weight: bold;

                    span {
                        color: $blue;
                    }

                    a {
                        color: $del-gray;
                        text-decoration: none;
                    }
                }
            }
        }

        .row {
            .cart_table {
                .table {
                    thead {
                        .main_heading {
                            border: 1px solid $bgc-white;

                            th {
                                background-color: $bgc-white;
                                padding: 18px 0;
                                font-family: "Quicksand", sans-serif;
                                font-size: 17px;
                                font-weight: 700;
                                color: #253D4E;
                            }

                            .start {
                                border-radius: 20px 0 0 20px;
                            }

                            .end {
                                border-radius: 0 20px 20px 0;
                            }
                        }

                    }

                    tbody {
                        border-top: none;

                        tr {
                            border: 1px solid $bgc-white;

                            img {
                                max-width: 120px;
                                border: 1px solid $bgc-white;
                                border-radius: 15px;
                            }

                            td {
                                vertical-align: middle;
                                padding: 15px 0;
                            }

                            .price {
                                h4 {
                                    color: $input-gray;
                                }
                            }

                            .action {
                                a {
                                    i {
                                        font-size: 14px;
                                        color: $input-gray;
                                    }
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }

            .cart_action {
                a {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 12px 30px;
                    border-radius: 4px;
                    color: $black;
                    text-decoration: none;
                    background-color: $bgc-white;
                    border: 1px solid $border-gray;
                    transition: .3s;

                    &:hover {
                        background-color: $blue;
                        color: $white;
                    }

                    i {
                        margin-right: 10px;
                    }
                }
            }

          
        }
    }
}

