


//newssletter start
.newssletter{
    .newssbox{

        background-image: url(../image/newsletter/bg-image-5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 6rem 0px;
        border-radius: 6px;

        .newssletter-text{
            h2{
                margin-bottom: 44px;
                font-size: 36px;
            }
            margin-left: 88px;
            i{
                margin-top: 20px;
                margin-bottom: 8px;
                font-size: 13px;
                background-color: $blue;
                color: $white;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                text-align: center;
                padding-top: 5px;
                color: $white;
                margin-right: 8px;
            }
            span{
                margin-top: 55px;
                color: $blue;
                font-weight: 500;
            }

            .newss-input{
                // border: 1px solid $bgc-white;
                // border-radius: 5px;
                // background-color: $bgc-white;
                // margin-top: 11px;

                input{
                    // width: 100%;
                    // padding: 10px 0;
                    outline: none;
                }
                border-radius: 6px;
            }
            .newss-btn button{
                background-color: $black;
                padding: 14px 44px;
                transition: .5s;
                border-radius: 8px;
                color: $white;
            }
            .newss-btn button:hover{
                transform: scale(1.1);
            }
        }
    }
}
//newssletter end



//product-sticky start

.products-sticky{
    background-color: $bgc-pink;

    .h-100{
        // overflow-y: scroll;

        display: flex;
        flex-wrap: wrap;
        .left-img{
            img{
                width: 100%;
            }
        }
    }
    

    .tote{
        .tote-title{
            margin-top: 10px;
            h5,h6{
                color: $black;
            }
            i{
                color: $yellow;
            }
            span{
                color: $title-gray;
            }
        }
    }


    .tote-title-2{
        // i{
        //     display: block;
        // }
        // span{
        //     // display: inline-block;
        // }

        .check-1{
            display: flex;
            font-weight: 500;
            color: $blue;
        } 
        .check-2{
            display: flex;
            font-weight: 500;
            color: $blue;
        }
         .check-3{
            display: flex;
            font-weight: 500;
            color: $blue;
        }
        .check-p{
            font-weight: 500;
            color: $input-gray;
        }



    }

    .tote-title-3{
        h5{
        display: inline !important;
        }
        #pro-input-1{
            accent-color: $orange;
            margin-left: 10px;
        } 
        #pro-input-2{
            accent-color: $pink;
            margin-left: 10px;
        } 
        #pro-input-3{
            accent-color: $purple;
            margin-left: 10px;
        }
    }
    .tote-title-4{
        margin-top: 15px;
        h5{
            display: inline !important;
        }
        .sizes{
            margin-left: 11px;
            text-align: center;
            color: $input-gray;
            // width: 11px;
            // height: 11px;
            padding: 8px 14px;
            background-color: $bgc-white;
            border-radius: 50%;
            display: inline-block;
        }
        
    }

    .tote-title-5{
        display: flex;
        align-items: center;
        margin-top: 20px;
        .tote-left{
            .span-minus{
                // margin-left: 11px;
                text-align: center;
                color: $input-gray;
                padding: 8px 14px;
                background-color: $bgc-white;
                border-radius: 50%;
                display: inline-block;
            }
            .tote-count{
                // text-align: center;
                // margin: auto;
                margin: 0 11px;
            }
            .span-plus{
                // margin-left: 11px;
                text-align: center;
                color: $input-gray;
                padding: 8px 14px;
                background-color: $bgc-white;
                border-radius: 50%;
                display: inline-block;
            }

            margin-right:33px;
        }

        .tote-center{
           button{
            background-color: $blue;
            border: none;
            outline: none;
            color: $white;
            transition: .3s;
            font-weight: 500;
            padding: 20px 100px;
            border-radius: 8px;
            &:hover{
                background-color: $blue;
                color: $white;
                transform: scale(1.1);
            }
           }
  
margin-right: 33px;
        }
        .tote-right{

            i{
              padding: 20px 20px;
            background-color: $bgc-white;
            border-radius: 8px;
            border: 1px solid $border-gray;
            color: $input-gray;
            // display: block;
            transition: .3s;

            &:hover{
              background-color: $blue;
              color: $white;
              transform: scale(1.1);
            }
          }
        }
    }

    .tote-title-6{
        h2{
            color: $blue;
            margin: 22px 0;
            // margin-top: 20px;
            // margin-bottom: 33px;
        }
        h5{
            color: $black;
        }
        p{
            color:$title-gray;
        }
    }

    .tote-title-7{
        h5{
            color: $black;
        }
        p{
            color:$title-gray;
        }
    }
    .tote-services{
        display: flex;
        align-items: center;
        // margin: 0 ;
        .tote-service{
            // margin-left: 22px;
            .tote-service-img{
                img{
                    width: 35px;
                    background-color: $white;
                    border-radius: 8px;
                }
            }
            .tote-service-title{
                margin-top: 8px;
                color: $black;
            }
        }
    }
}

//product-sticky end




//items start
.items{
    
    .item-text{
        i{
            font-size: 13px;
       background-color: $purple;
       color: $white;
       width: 25px;
       height: 25px;
       border-radius: 100%;
       text-align: center;
       padding-top: 5px;
        }
        span{
            color: $purple;
            font-weight: 500;
        }  h2{
            font-size: 40px;
        }
    
        }
    
    // .item-arrows{
    //     .item-arrow-left {
    //         display: inline-block;
    //         background-color: $bgc-white;
    //         padding: 16px;
    //         border-radius: 8px;
    //     }
    
    //     .item-arrow-right {
    //          display: inline-block;
    //          background-color: $bgc-white;
    //          padding: 16px;
    //          border-radius: 8px;
    //     }
    
    // }

    .item-box{
        overflow: hidden;

        .item-p{
            position: absolute;
            top: 11px;
            right: 2px;
            z-index: 111;
            padding: 2px 6px;
            color: $white;
            border-radius: 5px;
            background-color:$blue;
            box-shadow: 0px 2px 8px $blue;
        }
        .item-img{
            
            overflow: hidden;
        }
        img{
            transition: .4s;
            width: 100%;
            background-color: $bgc-white;
            position: relative;
            &:hover{
                transform: scale(1.1);
            }
        }
        .item-text{
            margin-top: 10px;
            // .item-span{
            //     font-size: 14px;
            //     color: $title-gray;
            //     font-weight: normal;
            // }
            #input1{
                accent-color: $orange;
               //  background-color: $orange;
            }
            // #input1:focus{
            //     accent-color: $orange;
            //    //  background-color: $orange;
            // }
            #input2{
                accent-color: $pink;
              }
            #input3{
                accent-color: $purple;
                  }
            i{
                color: $yellow;
            }
            text-align: center;
            p{
                margin-top: 12px;
                color: $title-gray;
                font-weight: 500;
            }
            span{
                color: $black;
                font-weight: bold;
                font-size: 22px;
                margin-left: 8px;
                del{
                    color: $title-gray;
                    font-weight: bold;
                    font-size: 22px;
                }
            }
            .item-span-del{
                display: block;
            }
    
        }
    }




}
//start end
