$blue:#3577f0;
$pink:#ff497c;
$white:white;
$purple:#8c71db;
$orange:#ff8666;
$yellow:#ffdc60;
$black:#292930;
$border-gray:#d4d4d4;
$dark-gray:rgb(69, 69, 69);
$title-gray:#999;
$del-gray:#d6d6d6;
$login-gray:#999fae;
$input-gray:#777;
$input-border:#cbd3d9;
$bgc-pink:#f9f3f0;
$bgc-white:#f7f7f7;
$bgc-gray-footer:#f6f7fb;
$line-color:#e5e5e5;


// shop site
$circle1: #906145;
$circle2: #fab8c4;
$circle3: #ffdc60;
$circle4: #896ba7;
$circle5:#dbdeff ;
$circle6: #badeff;
$circle7: #dfbf9b;
$circle8: #badeff;
$circle9: #dbdeff;
$circle10: #dbf8ff;
$circle11: #ffeddc;
